@model ICollection<CarCardViewModel>;

@{
    ViewData["Title"] = TempData["title"];
}

<h2 class="text-center mt-3">@ViewBag.Title</h2>
<hr />

<div class="row">

@foreach (CarCardViewModel card in @Model)
{
        <partial name="_CarCardPartial" model="card" />
}
</div>
